@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0090DF;
  /* --primary-foreground: #ffffff; */
  --secondary: #69A03A;
  /* --secondary-foreground: #ffffff; */
  --muted: #f4f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
